{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section>
    <div class="row">
        <article class="col-lg-5 mx-auto">
            <a href="{% url 'user_dashboard' %}">
                <h1 class="h2 py-3">{% trans "UMP CRYPTO PREDICTOR" %}</h1>
            </a>

            <h4>{% trans "Change Password" %}</h4>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <button 
                    type="submit" 
                    name="action"
                    class="btn btn-custom btn-lg"
                >
                    {% trans "Change Password" %}
                </button>
            </form>
        </article>
    </div>
    
</section>
    
{% endblock %}
