{% extends 'users/base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 

{% block content %}
<section class="container">
    <div class="row">
        <article class="col-12 col-md-8 mx-auto">
            <form action="" method="post" class="p-5 bg-white border shadow-sm rounded-2">
                <header class="pb-3 mb-5 border-bottom">
                    <h4>PREDICT PRICE FOR CRYPTO PAIR </h4>
                </header>
                {% crispy crypto_form %}
            </form>
        </article>
    </div>
</section>

{% endblock %}