{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<section id="landing-page">
    <div class="container">
        <section class="row">
            <div class="col-12 col-md-5 align-self-center landing-writeup">
                <h1 class="fw-bolder display-3">
                    <span style="color:#000080;">UMP</span>, Your AI-Powered Crypto Forecasting Tool <br/>
                </h1>
                <!-- <p>
                    Using advance AI, to help us in predicting  crypto market space.
                    Making the right predictions of bullish runs.
                </p> -->
                <p class="pt-4">
                    <a href="{% url 'account_login' %}" class="btn btn-lg btn-custom shadow">
                        START YOUR JOURNEY
                    </a>
                </p>
            </div>

            <div class="col-12 col-md-7">
                <div>
                    <img src="{% static 'pages/images/bg1.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>

        </section>
    </div>
</section>
{% endblock content %}