:root{
    --primary-color: rgb(0,0,128);
    --primary-color-700: rgb(0, 0, 128, .7);
}

.account-content a{
    color: inherit;
    text-decoration: none !important;
}


#sidebar{
    width: 250px;
    height: 100% !important;
    position: fixed; 
    background: var(--primary-color-700);
    z-index: 100;
    overflow-x: hidden;
}

.nav-link{
    font-size: 1.1em;
    color: rgb(239, 238, 238) !important;
    margin-top: 10px;
    border: 0 !important;
    border-radius: 0 !important;
}
 
.nav-link .bi{
    padding-right: 10px;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover{
    background-color: #110084;
    color: black;
}


.content-wrapper{
    width: 100%;
    min-height: 100vh;
    padding-left: 250px;
    /* position: absolute; */
    background: rgb(0, 0, 128, .2);
    /* padding-top: 7rem; */
}

.content-wrapper .navbar{
    background-color: rgb(0, 0, 128, 1);
    color: white !important;
}
