:root{
    --primary-color: rgb(0,0,128);
    /* --primary-color-700: rgb(50, 50, 171); */
    --primary-color-2:  rgb(50, 50, 171);
}

.account-content a{
    color: inherit;
    text-decoration: none !important;
}


#sidebar{
    width: 250px;
    height: 100% !important;
    position: fixed; 
    background: var(--primary-color-2);
    z-index: 100;
    overflow-x: hidden;
    transition: .3s ease;
}

.nav-link{
    font-size: 1.1em;
    color: rgb(239, 238, 238) !important;
    margin-top: 10px;
    border: 0 !important;
    border-radius: 0 !important;
}
 
.nav-link .bi{
    padding-right: 10px;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover{
    background-color: #110084;
    color: black;
}

a{
    display: block;
    text-decoration: none;
    color: inherit;
}

.content-wrapper{
    width: 100%;
    min-height: 100vh;
    padding-left: 250px;
    /* position: absolute; */
    background: rgb(0, 0, 128, .2);
    /* padding-top: 7rem; */
}

.content-wrapper .navbar{
    background-color: rgb(0, 0, 128, 1);
    color: white !important;
}

/* toggler */
.toggler{
    width: 250px !important;
}


/*** CSS for small screen ***/
@media(max-width:768px){
    #sidebar{
        width: 0;
        height: 100% !important;
        position: fixed; 
        background: var(--primary-color-2);
        z-index: 100;
        overflow-x: hidden;
        transition: .3s ease;
    }

    .content-wrapper{
        width: 100%;
        min-height: 100vh;
        padding: 0;
        background: rgb(0, 0, 128, .2);
    }

    .content-wrapper .navbar{
        background-color: rgb(0, 0, 128, 1);
        color: white !important;
        display: flex !important;
        flex-direction: row;
        width: 100%;
    }
}
